*{
  background-color: black;
}
.head{
  background-color: red;
  height: 8vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.cont{
  color: white;
  background-color: red;
  font-size: 20px;
}
.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0;
}